<h3>Hi <%=@user.name %>!</h3>
<a href="/sessions/destroy">Logout</a>
<% if flash[:notice]%>
<%= flash[:notice] %>
<%end%>

<form method="post" action="/ideas">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="text" name="comment" placeholder="Enter your Big Idea!">
		<input type="submit" value="Idea!">
	</form>

  <% for i in @ideas %>
  <tr>
    <td> <a href="/users/<%= i.user.id %>"><%= i.user.name %></a>Says: </td>
    <td> <%= i.comment %> </td>
    <% if i.user.id == session[:user_id] %>
    <form action="/ideas" method="post">
      <input type="hidden" name="_method" value="delete">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="idea_id" value="<%= i.id %>">
      <input type="submit" value="Delete">
    </form>
    <% end if @ideas %>
  </tr>

  <form method="post" action="/likes">
  			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  				<input type="submit" value="Like!">
  				<input type="hidden" value="<%=i.id%>" name="idea_id">
  </form>
  <p> <a href="/ideas/<%= i.id %>"><%= i.users_liked.count%> people </a> Like This! </p> <% end %>
